In [1]:
import numpy as np
import pandas as pd

In [2]:
consoles = pd.DataFrame({
    'name' : ['PS2', '360', 'DS', 'Atari 2600', 'Dreamcast', 'PS4'],
    'generation' : [6, 7, 7, 2, 6, 8],
    'manufacturer' : ['Sony', 'Microsoft', 'Nintendo', 'Atari', 'Sega', 'Sony'],
    'type' : ['home', 'home' ,'handheld', 'home', 'home', 'home'],
    'year' : [2000, 2005, 2004, 1977, 1998, 2013],
    'sales' : [155, 84, 154, 30, 9, 110]
})

In [11]:
consoles

         name  generation manufacturer      type  year  sales
0         PS2           6         Sony      home  2000    155
1         360           7    Microsoft      home  2005     84
2          DS           7     Nintendo  handheld  2004    154
3  Atari 2600           2        Atari      home  1977     30
4   Dreamcast           6         Sega      home  1998      9
5         PS4           8         Sony      home  2013    110

In [19]:
consoles[consoles["manufacturer"] == 'Sega']["generation"].max()

6

In [20]:
consoles.groupby("manufacturer").filter(lambda x: min(x["sales"]) >= 10)

         name  generation manufacturer      type  year  sales
0         PS2           6         Sony      home  2000    155
1         360           7    Microsoft      home  2005     84
2          DS           7     Nintendo  handheld  2004    154
3  Atari 2600           2        Atari      home  1977     30
5         PS4           8         Sony      home  2013    110

In [21]:
consoles.sort_values("sales").groupby("type").last()

         name  generation manufacturer  year  sales
type
handheld   DS           7     Nintendo  2004    154
home      PS2           6         Sony  2000    155